
.header {
  width:140px;
  height: 95px;
  background-color: #4aaaa5;
  color: white; 
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  float:left;
  line-height: 95px;
}



.nav {
  width: 960px;
  height: 95px;
  background-color:#ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 95px;
}

.nav a {
    float: right;
    color: #777777;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}




.column {
    float: left;
    height: 292px; 
      background-color: #ffffff;
  color: #777777;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
  width: 960px;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 12px;
  }

.main:after {
    content: "";
    display: table;
    clear: both;
    border-color:#dddddd;
    
}

.main h1 {
  color: #4aaaa5;
  }
  
.section {
  width:525px;


}

.aside {
  width:412px;


}

.footer {
  width: 960px;
  height: 95px;
  background-color: #666666;
  color: white; 
  text-align: center; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
 border-top: 5px solid #4aaaa5;
}

.submit {
  background-color: #4aaaa5;
  color: white; 
   border: 0;
 box-shadow: none;
 border-radius: 0px;
 width: 5em;  
 height: 2em;
  }

div.gallery {
    margin: 20px;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 20px;
}
div.gallery img {
   width: 100%;
   height: auto;
}

.container{
    position: relative;
}

.desc {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 250px;
    height: 4em;
    line-height: 4em;
}


